/***********************************************/
/*            Autor: Thiago Armede             */
/*CSS da pagina principal do Website da Paladar*/
/***********************************************/

body{
    background: url('../images/paes2.jpg'), 
                linear-gradient(50deg,black,white);
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    overflow-x: hidden;
}

@font-face{
    font-family: brush-script;
    src: url('../text-fonts/BRUSHSCI.TTF');
}

/***********************************/
/*    Classes referentes à navbar. */
/***********************************/

#logo-navbar{
    font-family: brush-script;
    font-size: 40px;
    opacity: 1.0;
    color: white;
    font-weight: bold;
}

.links-navbar{
    color: white;
    font-weight: bold;
}

.links-navbar:hover{
    color: rgba(218, 176, 9, 0.966);
}

#barra-navegacao{
    background: rgba(97, 0, 0, 0.8);
}

/* ///////////////////////////////// */
/* Classes referentes à capa do site */
/* ///////////////////////////////// */

.capa{
    width: 100%;
    height: 400px;
    background: rgba(0,0,0, 0.3);
}

.texto-capa{
    margin: 20px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-capa h1{
    font-size: 450%;
}

.texto-capa h1, h6{
    font-weight: bold;
}

.botao-capa{
    display: table;
    margin: 0 auto;
}

.btn-custom{
    color: white;
    background: rgb(97, 0, 0);
    transition: background 0.3s;
}

.btn-custom:hover{
    background: rgb(150, 0, 0);
    color: white;
}

/* /////////////////////////////// */









/* Classes referentes ao Carousel */

.img-slides{
    object-fit: contain;
}