/**************************/
/* Autor: Thiago Armede   */
/*CSS da pagina principal do Website da Paladar*/
body{
    background: url('../images/paes2.jpg');
    background-size: 100%;
    height: 100%;
    overflow-x: hidden;
}

@font-face{
    font-family: brush-script;
    src: url('../text-fonts/BRUSHSCI.TTF');
}
/*
    Classes referentes à navbar.
*/
#logo-navbar{
    font-family: brush-script;
    font-size: 40px;
    opacity: 1.0;
    color: white;
    font-weight: bold;
}

.links-navbar{
    color: white;
    font-weight: bold;
}
.links-navbar:hover{
    color: rgba(218, 176, 9, 0.966);
}

#barra-navegacao{
    background: rgba(0, 0, 0, 0.3);
}
/* //////////////////// */