/***********************************************/
/*            Autor: Thiago Armede             */
/*CSS da pagina principal do Website da Paladar*/
/***********************************************/

/***********************************/
/*               Geral             */
/***********************************/

body{
    background-image: url('../images/paes2.jpg');
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face{
    font-family: elephant;
    src: url('../text-fonts/ELEPHNT.TTF');
}

/*Utilizando flexbox para prender container no fim do site.*/
.conteudo{
    flex: 1;
}


/***********************************/
/*    Classes referentes à navbar. */
/***********************************/

#logo-navbar{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.links-navbar{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
}

.links-navbar:hover{
    color: rgba(218, 176, 9, 0.966);
}

#barra-navegacao{
    background: rgba(97, 0, 0, 0.8);
}

/* ///////////////////////////////// */
/* Classes referentes à capa do site */
/* ///////////////////////////////// */

.capa{
    width: 100%;
    margin-top: 86px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: rgba(0,0,0, 0.3);
}

.texto-capa{
    margin: 20px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-capa h1{
    font-size: 400%;
}

.texto-capa h1{
    font-weight: bold;
}

.botao-capa{
    display: table;
    margin: 0 auto;
}

.btn-custom{
    color: white;
    background: rgb(97, 0, 0);
    transition: background 0.3s;
}

.btn-custom:hover{
    background: rgb(150, 0, 0);
    color: white;
}

/* /////////////////////////////// */
/* Classes referentes ao Carousel */
/* /////////////////////////////// */

.img-slides{
    object-fit: contain;
}

/* /////////////////////////////// */
/* Classes referentes ao "Quem Somos" */
/* /////////////////////////////// */

.quem-somos{
    padding-top: 60px;
    padding-bottom: 60px;
    background: rgba(0,0,0, 0.3);
}

.quem-somos div h1{
    color: white;
    font-weight: bold;
    font-size: 350%;
    padding-bottom: 30px;
}

.img-quem-somos{
    width: 80%;
}

#texto-quem-somos{
    color: white;
}
/* /////////////////////////////// */
/*              Rodapé             */
/* /////////////////////////////// */

#rodape{
    background: rgba(0, 0, 0, 0.7);
}

#rodape h2{
    color: white;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rodape h5{
    display: inline;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rodape a{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 
    sans-serif;
}

#rodape a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#coluna2-rodape, #coluna3-rodape{
    color: white;
    padding: 20px;
}

.desenvolvedor{
    color: white;
    text-align: center;
    font-size: 80%;
    display: table-cell;
	vertical-align: middle;    
}

/*****************FIM******************/