/*
    Folha de estilo direcionada a área de encomendas do site.
    Autor: Thiago Armede.
    02/2018.
*/

.sessao-forms{
    width: 100%;
    font-family: quicksand;
    color: white;
}

.header-encomendas div h3{
    text-align:center;
    margin-top: -35px; 
    margin-bottom: 25px;
}

/*
    Classes Associadas ao formulário das encomendas.
*/

.label-form{
    color: white;
    text-decoration: bold;
}

.inputs-encomendas{
    margin-bottom: 10px;
}

.input-desc{
    height: 180px;
    resize: none;
}

.btn-custom{
    color: white;
    background: rgb(97, 0, 0);
    transition: background 0.3s;
    width: 150px;
    height: 50px;     
}

.btn-custom:hover{
    background: rgb(150, 0, 0);
    color: white;
    border-color: white;
}
