/***********************************************/
/*            Autor: Thiago Armede             */
/*CSS da pagina principal do Website da Paladar*/
/***********************************************/

/***********************************/
/*               Geral             */
/***********************************/

body{
    background-image: url('../images/paes2.jpg');
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face{
    font-family: elephant;
    src: url('../text-fonts/ELEPHNT.TTF');
}

@font-face{
    font-family: quicksand;
    src: url('../text-fonts/Quicksand-Regular.otf');
}

@font-face{
    font-family: quicksand-bold;
    src: url('../text-fonts/Quicksand-Bold.otf');
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    background: white;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color:white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
/* Utilizando flexbox para prender container no fim do site. */
.conteudo{
    flex: 1;
}


/***********************************/
/*    Classes referentes à navbar. */
/***********************************/

#logo-navbar{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.links-navbar{
    color: white;
    font-family: quicksand;
    font-size: 105%;
}

.links-navbar:hover{
    color: rgba(218, 176, 9, 0.966);
}

#barra-navegacao{
    background: rgba(97, 0, 0, 0.8);
}

/* /////////////////////////////// */
/* Classes referentes ao Carousel */
/* /////////////////////////////// */

.img-slides{
    object-fit: contain;
}

.carrossel{
    margin-top: 86px;
}

/* /////////////////////////////// */
/* Classes referentes ao "Quem Somos" */
/* /////////////////////////////// */
.header-quem-somos{
    font-family: quicksand;
}

.quem-somos{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0,0,0, 0.5);
}

.quem-somos div h1{
    color: white;
    font-size: 350%;
    padding-bottom: 30px;
}

.img-quem-somos{
    width: 80%;
}

#texto-quem-somos{
    color: white;
}
/* /////////////////////////////// */
/*              Rodapé             */
/* /////////////////////////////// */

#rodape{
    background: rgba(0, 0, 0, 0.8);
}

#rodape h2{
    color: white;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rodape h5{
    display: inline;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rodape a{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 
    sans-serif;
}

#rodape a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#coluna2-rodape, #coluna3-rodape{
    color: white;
    padding: 20px;
}

.desenvolvedor{
    color: white;
    text-align: center;
    font-size: 80%;
    display: table-cell;
	vertical-align: middle;    
}

/*****************FIM******************/